.body_backgorund 
{
    background-image:url(Background\ GIF.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width:10px ;
   background-image: url("Bday\ img\ 2.jpg");
   border-style: ridge ;
   border-color: darkviolet;
}

